<app-header></app-header>
<div class="bg-gradient-to-br [#eae0d5] to-[#d5bdaf]  min-h-screen">

  <section class="text-center py-10 px-6">
    <h2 class="text-6xl md:text-6xl font-extrabold text-[#5e3023]leading-tight"> HEAL WITH HERBS</h2>
    <p class="text-lg text-black-600 mt-6 max-w-xl mx-auto">
      Ayurveda is an ancient Indian system of medicine that promotes balance between body, mind, and spirit.
    </p>
    <button routerLink="/chat" class="inline-block mt-7 bg-[#8c4f3d] px-8 py-3 rounded-full text-lg shadow hover:bg-green-100 transition">
      Start Healing Chat
    </button>
  </section>

 <section class="max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-center gap-8 px-6 py-4">
  <!-- Left Image -->
  <img src="assets/images/ayurveda-made-easy-9781507204399_hr.jpg" alt="Ayur" class="w-99 rounded-2xl shadow-lg h-72" />

  <!-- Text Content -->
  <div class="text-center max-w-md">
    <h3 class="text-3xl font-semibold text-stone-700 mb-5 justify-center">Why Ayurvedic?</h3>
    <ul class="space-y-5 text-stone-900 text-lg text-left">
      <li>🌿 Instant Ayurvedic guidance</li>
      <li>🧘 Yoga & Meditation Suggestions</li>
      <li>💬 Natural Ingredients (Home Remedies)</li>
      <li>🌱 Herb Information</li>
      <li>🥗 Diet & Nutrition Guidance</li>
      <li>🩺 Symptom Checker and Treatment</li>
    </ul>
  </div>

  <!-- Right Image -->
  <img src="assets/images/ayurveda.jpg" alt="Ayur" class="w-80 rounded-2xl shadow-lg h-75" />
</section>
<app-faq></app-faq>
</div>
<app-footer></app-footer>